In this tutorial, we review on pivot talb

In [2]:
import pandas as pd
import numpy as np

In [3]:
np.random.seed(44)
# RANDOM DATA WITH US CLASS I RAILROADS
df = pd.DataFrame({'Name': ['UP', 'BNSF', 'CSX', 'KCS','NSF', 'CN', 'CP']*5,
                   'Other_Sales': np.random.randn(35),
                   'Year': list(range(2007,2014))*5})    

table = df.pivot_table('Other_Sales', columns='Name',
                       index='Year', aggfunc='sum')
table

Name      BNSF        CN        CP       CSX       KCS       NSF        UP
Year
2007       NaN       NaN       NaN       NaN       NaN       NaN -1.785934
2008  1.605111       NaN       NaN       NaN       NaN       NaN       NaN
2009       NaN       NaN       NaN  1.800014       NaN       NaN       NaN
2010       NaN       NaN       NaN       NaN -2.577264       NaN       NaN
2011       NaN       NaN       NaN       NaN       NaN  0.899372       NaN
2012       NaN -3.988874       NaN       NaN       NaN       NaN       NaN
2013       NaN       NaN  1.725111       NaN       NaN       NaN       NaN

In [4]:
table = df.pivot_table('Other_Sales', columns='Name',
                       index='Year', aggfunc='sum').sum(axis=1).reset_index()
table

   Year         0
0  2007 -1.785934
1  2008  1.605111
2  2009  1.800014
3  2010 -2.577264
4  2011  0.899372
5  2012 -3.988874
6  2013  1.725111

## Max Array Sum   

Given an array of integers, find the subset of non-adjacent elements with the maximum sum. Calculate the sum of that subset.
For example, given an array [-2,1,3,-4,5] we have the following possible subsets:

Subset      Sum
[-2, 3, 5]   6
[-2, 3]      1
[-2, -4]    -6
[-2, 5]      3
[1, -4]     -3
[1, 5]       6
[3, 5]       8

Our maximum subset sum is 8
Function Description
Complete the maxSubsetSum function in the editor below. It should return an integer representing the maximum subset sum for the given array.
maxSubsetSum has the following parameter(s):
arr: an array of integers

Sample Input 0
5
3 7 4 6 5

Explanation 
Our possible subsets are [3,4,5],[3,4],[3,6],[3,5],[7,6],[7,5] and [4,5]. The largest subset sum is 13 from subset [7,6].

In [4]:
def max_subarray(arr, i, d):
    if i in d:
        return d[i]

    if i == len(arr) - 1:
        d[i] = arr[i]    
    elif i == len(arr) - 2:
        d[i] = max(arr[i], arr[i + 1])
    else:
        d[i] = max(arr[i], max(arr[i] + max_subarray(arr, i + 2, d), max_subarray(arr, i + 1, d)))

    return d[i]

def maxSubsetSum(arr):
    if arr is None or len(arr) == 0:
        return 0

    return max_subarray(arr, 0, {})
arr= [3, 7 ,4 ,6 ,5]
maxSubsetSum(arr)

13

**Problem 2**

Given a stack of N elements, interleave the first half of the stack with the second half reversed using only one other queue. This should be done in-place.

Recall that you can only push or pop from a stack, and enqueue or dequeue from a queue.

For example, if the stack is [1, 2, 3, 4, 5], it should become [1, 5, 2, 4, 3]. If the stack is [1, 2, 3, 4], it should become [1, 4, 2, 3].